.about {
    padding: 50px 20px;
    }

    .about h2 {
    font-size: 30px;
    color: #FFD700;
    }

    .about p {
    margin-top: 10px;
    }
    
    .about ul {
    list-style: none;
    padding: 0;
    }

    .about ul li {
    margin-top: 10px;
    }

    .about ul li span {
    font-weight: bold;
    }
