.contact {
    padding: 50px 20px;
    }

    .contact h2 {
    font-size: 30px;
    color: #FFD700;
    }

    .contact p {
    margin-top: 10px;
    }

    .contact ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    }

    .contact ul li {
    margin-top: 5px;
    }