.main {
    text-align: center;
    padding: 50px 20px;
    }
    
    .main h1 {
    font-size: 36px;
    }
    
    .main h1 span {
    color: #007BFF;
    }
    
    .main p {
    margin-top: 10px;
    font-size: 18px;
    }
    
    .main button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    }