
@media only screen and (max-width: 640px) {
    li , a {
        font-size: 11px;
    }
    .change_mb_1{
        flex-direction: column !important;
        align-items: baseline;
        justify-content: baseline;
    }
    .change_mb_3{
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
    .log{
        font-size: 14px !important;
    }
    .change_mb_2{
        width: 440px !important;
    }
    .change_col_4{
        width: 80% !important;
        height: 80% !important;
        margin: 5px;
        padding: 5px;
    }
}